/* Colores */

$main-color: #FB088C;
$secondary-color: #fbeae9;
$menu-color: #282828;
$black-color: #212222;
$white-color: #FFFFFF;

$error-color: #DF1F1F;
$okey-color: #26D13F;
$caution-color: #FFCD04;

$border-color: #909090;
$light-text-color: #C7C7C7;
$background-color: #F3F4F5;

/* Tipo */

$h1-size-mobile: 50px;
$h2-size-mobile: 28px;
$h3-size-mobile: 24px;
$p-size-big-mobile: 18px;
$p-size-mobile: 16px;
$links-size-mobile: 18px;

$h1-size-desktop: 190px;
$h2-size-desktop: 60px;
$h3-size-desktop: 45px;
$p-size-big-desktop: 35px;
$p-size-desktop: 24px;
$links-size-desktop: 35px;

$hs-weight: 700;
$ps-wight: 400;
